#cy {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 10px;
    top: 10px;
    border-style: solid;
    border-color: black;
}

#myDiv {
    width: 40%;
    height: 34%;
    position: fixed;
    top: 53%;
    right: 59%;
}

#r {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: 55%;
    top: 55%;
}

#rt {
    position: fixed;
    left: 58%;
    top: 55%;
}

#y {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: 55%;
    top: 58%;
}

#yt {
    position: fixed;
    left: 58%;
    top: 58%;
}

#p {
    height: 15px;
    width: 15px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: 55%;
    top: 61%;
}

#pt {
    position: fixed;
    left: 58%;
    top: 61%;
}

#cmds {
    position: fixed;
    left: 55%;
    top: 65%;
}

#myForm {
    width: 40%;
    height: 34%;
    position: fixed;
    left: 55%;
    top: 75%
}

#terminal {
    width: 45%;
    height: 50%;
    position: fixed;
    left: 55%;
    top: 10px
}

#output-div {
    align-content: center;
    position: fixed;
    width: 80%;
    top: 500px;
    height: 1000px;
}

#info {
    position: fixed;
    color: green;
    font-size: 50px;
    width: 50%;
    height: 50%;
    border-color: black;
    border-style: solid;
    top: 50%;
}