<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Tutorial 1: Getting Started</title>
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.10/cytoscape.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
        <!--<script src="node_modules\cytoscape\dist\cytoscape.min.js"></script>-->
        <style>
            #cy {
                width: 50%;
                height: 50%;
                position: absolute;
                top: 250px;
                left: 10px;
                border-style: solid;
                border-color: black;
            }

            input {
              width : 50%;
              line-height : 60px;
            }
            
        </style>
    </head>
    
    <body> 
      <div id="cy" ></div>

      <form action="/hello" method = "post">
        <div>
          command <input type = "text" name = "cmd" >
        <input type = "submit" value = "Submit" onclick="Outputb()">
        </div>
        <div>
          <label for="example">Response from gdb console:</label><input type="textbox" name="example">
        </div>
        
      </form>

      <label for="demo">Node Data :</label><input type="textbox" name="demo">

      {% for r in response %}
        {%if r['type'] == 'output'%}
        <div id = "try">{{r['payload']}}</div>
        <style>
          #try {
            display : none;
          }
        </style>
        {%endif%}
        {%if r['type'] == 'console'%}
        <div id = "fry"> {{r['payload']}}</div>
        <style>
          #fry {
            display : none;
          }
        </style>
        {%endif%}
      {%endfor%}

      <br> 
      <script>
        function Outputb(){
          if( document.getElementById("fry").innerHTML != null){
              var fv = document.getElementById("fry").innerHTML;
          }
          else {
            var fv = document.getElementById("try").innerHTML;
          }
          console.log(fv); 
           document.getElementsByName("example")[0].value = fv;
        } 
    </script>
      <script>
        
          var data = '{{ data |tojson }}'; 
          console.log(data);
          
          var cy = cytoscape({
            container: document.getElementById('cy'),

            layout: {
                name: "dagre"
            },

            style: [
        {
            selector: 'node',
            style: {
                shape: 'hexagon',
                'background-color' : 'green',
                label: 'data(id)',
              },

        }],
        layout: {
        name: 'concentric'
    },
            elements:  JSON.parse(data)
            
            /*[
      // nodes
      { data: { id: 'a' } },
      { data: { id: 'b' } },
      { data: { id: 'c' } },
      { data: { id: 'd' } },
      { data: { id: 'e' } },
      { data: { id: 'f' } },
      // edges
      {
        data: {
          id: 'ab',
          source: 'a',
          target: 'b'
        }
      },
      {
        data: {
          id: 'cd',
          source: 'c',
          target: 'd'
        }
      },
      {
        data: {
          id: 'ef',
          source: 'e',
          target: 'f'
        }
      },
      {
        data: {
          id: 'ac',
          source: 'a',
          target: 'd'
        }
      },
      {
        data: {
          id: 'be',
          source: 'b',
          target: 'e'
        }
      }
    ] */
          });

          /*cy.on('mouseover ,'node', function(event) {
            var node = event.cyTarget;
            node.qtip({
              content:'hello',
              show :{
                event : event.type,
                ready : true
              },
              hide :{
                event : 'mouseout unfocus'
              }
            }, event);
          });
          */

          cy.on('click', 'node', function(evt){
      console.log( 'clicked ' + this.id() );
      cy.style()
       .selector('node')
       .css({
         'background-color': 'red'
       })
      console.log(this.elements);
      document.getElementsByName("demo")[0].value = this.id();
      
});
      
        </script>
    </body>
</html>